#footer{
    padding: 30px 0;
    .top-footer{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        padding-bottom: 30px;
        border-bottom: 1px solid #EAEAEA;
        .logo{
            cursor: pointer;
        }
        .sosials{
            display: flex;
            gap: 20px;
           i{
            cursor: pointer;
           }
        }
    }
    .midle-foot{
        padding: 30px 0;
        border-bottom: 1px solid #EAEAEA;
        ul{
           padding-left: 0px;
           li{
            padding: 5px;
           }
        }
        .form{
            position: relative;
            border-bottom: 2px solid black;
            display: flex;
            justify-content: space-between;
            input{
                outline: none;
                border: none;
            }
            a{
                color: black;
                font-weight: 700;
            }
        }
    }
    .bot{
        padding: 20px 0;
       i{
        color: var(--main--color);
       } 
       a{
        color: var(--main--color);
       }
    }
}